
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width:768px){
  body{
    padding-top: 150px;
  }
  .navbar-nav .nav-link {
    transition: all 0.1s ease;
    text-align: center;
  }
  
  .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    flex-direction: column;
  }
  

  section{
   width: 100%;
   height: auto;
   display: block;
  }
  .section-intro{
   margin: auto;
   padding: 0;
   margin-left: 170px;
   font-size: 15px;

  }
  .section-image{
   margin: auto;
   padding: 40px; 
   width: 220px;
   margin-bottom: 50px;
   margin-top: 40px;
   margin-left: 150px;
  }
  
 .heading1{
  
 }
 .role_text {
  width: 400px; 
  height: 50px; 
  /* padding: 10px;
  margin: 20px auto; */
  overflow: hidden; /*Prevent text from overflowing the container */
}

 .heading5{
  color: #ee14b7;
  font-size: 22px;
  display: inline-block; /* Ensure the container respects the size of the text */
  white-space: nowrap; /* Prevent line breaks */
}
 
 .section-image1{
  margin: auto;
   padding: 15px; 
   margin-bottom: 50px;
   margin-left: 200px;
 }
 .section-intro1{
  margin: auto;
   padding: 0;
   font-size: 13px;
 }
 
 .SKILLS{
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;

 } 
 #div-skil{
  width: 100%;
  height: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding:0;
 }
 .div-skil1{
  display: flex;
  width: 100%;
  height: 20px;
  padding-top: 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
 }
 .div-headnig7{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-left: 0%;
  width: 100%;
 }
 .div-headnig3{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-left: 0%;
  width: 100%;
 }
 #heading7{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-top: 2px;
  width: 100%;
  height: 50px;
  background-color: #191919;
  color:#FFFFFF;
  border-radius: 50px;
  padding-top: 4px;

 }
 .heading8{
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
 }

 #heading3{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-top: 200px;
  width: 100%;
  height: 50px;
  background-color: #191919;
  color:#FFFFFF;
  border-radius: 50px;
  padding-top: 4px;

 }
 /* .section5{
  width: 100%;
  height: 400px;
  background-color: rgb(28, 4, 15); 
  border-radius: 5px;
  padding: 5px;
   display:table-row; 

 } */
 .section5_div{
  
  
  }
  .section5{
    width: 100%;
    height: 400px;
    background-color: rgb(28, 4, 15); 
    border-radius: 5px;
    padding: 5px;
    display: flex;
  
   }
  .Todo_div {
    width: 90%;
    height: 200px;
    margin: 10px ;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .Todo_div:hover{
    color: rgb(144, 144, 215);
   padding: 25px;
   margin: 5px;
   width: 450px;
   height: 300px;
   background-color: black;
   box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
   }
  .project_video {
    width: 100%;
    height: 200px;
  }
 .section5_heading{
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
 }

 

.section4 {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

input[type=text] {
  height: 50px;
  color:white;
}

input[type=submit] {
  background-color:green;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 0px;   
  box-shadow: 5px 5px 5px #3e4444;
  width: 180px;
}


.form,.adress {
  width: 100%; 
  max-width: 100%; 
  height: auto;
  margin-bottom: 20px; 
}


.heading6,
.para-adress,
.para-pin,
#icon-location,
#icon-email,
.email,
#icon-phone,
.mobile,
#icon-github,
.github,
#icon-linkdin,
.linkdine {
  text-align: center;
  padding: 1px;
  padding-left: 50px;
}
 .footer{
  height: 100px;
 }
 
}
 
 





@media (max-width:600px){

  .navbar-nav .nav-link {
    transition: all 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    flex-direction: column;
  }
  

  section{
   width: 100%;
   height: auto;
   display: block;
  }
  .section-intro{
   margin: auto;
   padding: 0;
   margin-left: 60px;
   font-size: 10px;

  }
  .section-image{
   margin: auto;
   padding: 40px; 
   width: 220px;
   margin-bottom: 50px;
   margin-top: 40px;
   margin-left: 80px;
  }
  
 .heading1{
  
 }
 .role_text {
  width: 400px; 
  height: 50px; 
  /* padding: 10px;
  margin: 20px auto; */
  overflow: hidden; /*Prevent text from overflowing the container */
}

 .heading5{
  color: #ee14b7;
  font-size: 23px;
  display: inline-block; /* Ensure the container respects the size of the text */
  white-space: nowrap; /* Prevent line breaks */
}
 
 .section-image1{
  margin: auto;
   padding: 15px; 
   margin-bottom: 50px;
   margin-left: 110px;
 }
 .section-intro1{
  margin: auto;
   padding: 0;
   font-size: 13px;
 }
 
 .SKILLS{
  
    margin: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
   
 }
 #div-skil{
  width: 100%;
  height: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding:0;
 }
 .div-skil1{
  display: flex;
  width: 100%;
  height: 20px;
  padding-top: 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
 }
 .div-headnig7{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-left: 0%;
  width: 100%;
 }
 .div-headnig3{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-left: 0%;
  width: 100%;
 }
 #heading7{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-top: 2px;
  width: 100%;
  height: 50px;
  background-color: #191919;
  color:#FFFFFF;
  border-radius: 50px;
  padding-top: 4px;

 }

 #heading3{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-top: 200px;
  width: 100%;
  height: 50px;
  background-color: #191919;
  color:#FFFFFF;
  border-radius: 50px;
  padding-top: 4px;

 }
 .section5{
  width: 100%;
  height: 400px;
  background-color: rgb(28, 4, 15); 
  border-radius: 5px;
  padding: 5px;
  display: flex;

 }
 .section5_div{
  
  
  }
  .Todo_div {
    width: 90%;
    height: 200px;
    margin: 10px ;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .Todo_div:hover{
    color: rgb(144, 144, 215);
   padding: 25px;
   width: 450px;
   height: 300px;
   background-color: black;
   box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
   }
  .project_video {
    width: 100%;
    height: 200px;
  }



.section4 {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

input[type=text] {
  height: 50px;
  color:white;
}

input[type=submit] {
  background-color:green;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 0px;   
  box-shadow: 5px 5px 5px #3e4444;
  width: 180px;
}


.form,.adress {
  width: 100%; 
  max-width: 100%; 
  height: auto;
  margin-bottom: 20px; 
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}


.heading6,
.para-adress,
.para-pin,
#icon-location,
#icon-email,
.email,
#icon-phone,
.mobile,
#icon-github,
.github,
#icon-linkdin,
.linkdine {
  text-align: center;
  padding: 1px;
  padding-left: 50px;
}
 .footer{
  height: 100px;
 }
 
}
 
 
