
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media (max-width:1024px){
  body{
    padding-top: 150px;
  }
  .navbar-nav .nav-link {
    transition: all 0.1s ease;
    text-align: center;
  }
  
  .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    flex-direction: column;
  }
  
  
  section{
   width: 100%;
   height: auto;
   display: block;
  }
  .section-intro{
   margin: auto;
   padding: 0;
   margin-left: 170px;
   font-size: 15px;
  
  }
  .section-image{
   margin: auto;
   padding: 40px; 
   width: 220px;
   margin-bottom: 50px;
   margin-top: 40px;
   margin-left: 150px;
  }
  
  .heading1{
  
  }
  .role_text {
  width: 450px; 
  height: 50px; 
  margin: 20px auto; 
  overflow: hidden; 
  }
  
  .heading5{
  color: #ee14b7;
  font-size: 22px;
  display: inline-block; 
  white-space: nowrap; 
  }
  
  .section-image1{
  margin: auto;
   padding: 15px; 
   margin-bottom: 50px;
   margin-left: 200px;
  }
  .section-intro1{
  margin: auto;
   padding: 0;
   font-size: 13px;
  }
  .heading {
  color: #fff;
  background-color: #4CAF50;
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  margin: 20px;
  margin-top: 200px;
  }
  
  #heading7{
  justify-content: space-between;
  align-items: center;
  text-align: center;
  justify-items: center;
  margin-top: 2px;
  width: 100%;
  height: 50px;
  background-color: #191919;
  color:#FFFFFF;
  border-radius: 50px;
  padding-top: 4px;
  
  }
  .heading8{
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  }
  
  .section5_div{
  
  
  }
  .section5{
    width: 100%;
    height: 400px;
    background-color: rgb(28, 4, 15); 
    border-radius: 5px;
    padding: 5px;
    display: flex;
  
   }
  
  .project_video {
    width: 100%;
    height: 200px;
  }
  .section5_heading{
  margin: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  }
  .project {
  margin-left: 80px;
  width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.4s  ease;
  box-shadow: 0 0 10px 3px rgba(171, 170, 170, 0.5);
  
  }
  
  
  .section4 {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  }
  
  input[type=text] {
  height: 100px;
  color:white;
  } 
  
  input[type=submit] {
  background-color:green;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 25px;
  margin-top: 2px;
  margin-left: 0px;   
  box-shadow: 5px 5px 5px #3e4444;
  width: 180px;
  }
  
  
  .form,.adress {
  width: 50%; 
  max-width: 100%; 
  height: auto;
  margin-bottom: 20px; 
  }
  
  
  .heading6,
  .para-adress,
  .para-pin,
  #icon-location,
  #icon-email,
  .email,
  #icon-phone,
  .mobile,
  #icon-github,
  .github,
  #icon-linkdin,
  .linkdine {
  text-align: center;
  padding: 1px;
  padding-left: 50px;
  }
  .footer{
  height: 100px;
  }
  
  }
  
  
  
  



  @media (max-width:768px){
    .body{
      padding-top: 150px;
    }
    .navbar-nav .nav-link {
      transition: all 0.1s ease;
      text-align: center;
    }
    
    .navbar-nav .nav-link:hover {
      transform: scale(1.1);
      flex-direction: column;
    }
    
    
.marquee_div{
  /* margin-left: 10px;
  margin-right: 10px; */
  color:red;
  height: 0px;
  word-spacing: 5px;
  text-decoration:underline;
  overflow: hidden;
}
.marquee_text{
  white-space: nowrap;
  /* margin-left: 20px;
  margin-right: 20px; */
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
  
    section{
     width: 100%;
     height: auto;
     display: block;
    }
    .section-intro{
     margin: auto;
     padding: 0;
     margin-left: 170px;
     font-size: 15px;
  
    }
    .section-image{
     margin: auto;
     padding: 40px; 
     width: 220px;
     margin-bottom: 50px;
     margin-top: 40px;
     margin-left: 150px;
    }
    
   .heading1{
    
   }
   .role_text {
    width: 400px; 
    height: 50px; 
    margin: 20px auto; 
    overflow: hidden; 
  }
  
   .heading5{
    color: #ee14b7;
    font-size: 25px;
    display: inline-block; 
    white-space: nowrap; 
  }
   
   .section-image1{
    margin: auto;
     padding: 15px; 
     margin-bottom: 50px;
     margin-left: 200px;
   }
   .section-intro1{
    margin: auto;
     padding: 0;
     font-size: 13px;
   }
   .heading {
    color: #fff;
    background-color: #4CAF50;
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    margin: 20px;
    margin-top: 200px;
  }
  
   #heading7{
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-items: center;
    margin-top: 2px;
    width: 100%;
    height: auto;
    background-color: #191919;
    color:#FFFFFF;
    border-radius: 20px;
    padding-top: 4px;
  
   }
   .heading8{
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
   }
   .skills-container {
    width: 250px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn ease-out 0.5s;
    animation-fill-mode: forwards;
  }
  .skills-container:hover{
    transform: translateY(30px);
  box-shadow: 0 0 10px 3px rgba(175, 174, 174, 0.5)
  }
  
  #heading-skils{
    font-size: 30px;
  }
  .skills-container:nth-child(odd) {
    background-color: #FFE082; /* Yellow */
  }
  
  .skills-container:nth-child(even) {
    background-color: #81D4FA; /* Blue */
  }
  
  .icon{
   text-align: center;
   width: 100px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
   .section5_div{
    
    
    }
    .section5{
      width: 100%;
      height: 400px;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      
     }
    
    .project_video {
      width: 100%;
      height: 200px;
    }
   .section5_heading{
    margin: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
   }
   .project {
    /* margin-left: 150px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.4s  ease;
    box-shadow: 0 0 10px 3px rgba(171, 170, 170, 0.5);
     */
    }
    .footer{
      width: 100%;
      height: 100px;
      background-color: black;
      color: #FFFFFF;
    }
    .footer-menu{
      padding-top: 30px;
      /* padding-left: 50px; */
      /* word-spacing: 15px; */
      text-decoration: none;
    }
      
    .footer-menu #footer_list{
      text-decoration: none;
      border: none;

    } 
    #footer_list:hover{
      background-color: #3e4444;
      border: none;
    } 
   .footer-des{
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 50px;
    }  



 
  }













 @media (max-width:600px){
  body{
    padding-top: 250px;
  }
  .navbar-nav .nav-link {
    transition: all 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover {
    transform: scale(1.1);
    flex-direction: column;
  }
  
  #navbarNav{
  }
   #portfolio-logo{
    width: 70px;
  } 

  
.marquee_div{
  height: 50px;
  /* margin-left: 10px;
  margin-right: 10px; */
  color:red;
  word-spacing: 5px;
  text-decoration:underline;
  overflow: hidden;
}
.marquee_text{
  /* height: 50px; */
  /*  */
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
  section{
   width: 100%;
   height: auto;
   display: block;
  }
  .section-intro{
   margin: auto;
   padding: 0;
   margin-left: 100px;
   font-size: 10px;

  }
  .section-image{
   margin: auto;
   padding: 40px; 
   width: 220px;
   margin-bottom: 50px;
   margin-top: 40px;
   margin-left:30px;
  }
  
 .heading1{
  
 }
 .role_text {
  width: 270px; 
  height: 50px; 
  padding: 10px;
  margin: 20px auto; 
  overflow: hidden; 
}

 .heading5{
  color: #ee14b7;
  font-size: 15px;
  display: inline-block; 
  white-space: nowrap; 
}
 
 .section-image1{
  margin: auto;
   padding: 15px; 
   margin-bottom: 50px;
   margin-left: 50px;
 }
 .section-intro1{
  margin: auto;
   padding: 0;
   font-size: 13px;
 }
 

 .section5_div{
  
  
  }

  .project {
    text-align: center;
    /* margin-left: 20px; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 0.4s  ease;
    box-shadow: 0 0 10px 3px rgba(171, 170, 170, 0.5);
  }
   

.footer{
  /* width: 100%;
  height: 150px;
  background-color: black;
  color: #FFFFFF; */
  background-color: black;
   color: #fff;
   padding: 10px 0;
   text-align: center;
   height: auto;
   padding-right: 50px;
}

.footer-menu{
  padding-top: 30px;
  
  text-decoration: none;
}

.footer-menu #footer_list{
  text-decoration: none;
  border: none;

} 
#footer_list:hover{
  background-color: #3e4444;
  border: none;
} 
.footer-des{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 50px;
}  

 }




 
 





