
 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  

.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  transition: background-color 0.3s ease;
  padding-top: 60px;
  background-color: rgb(0, 0, 9);
}



/*Header started from here */
 .navbar-nav .nav-link {
  transition: all 0.1s ease;
}


.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; 
  box-shadow: 0px 0px 10px 0px gray;
  background-color:#010d0d;
}

.navbar-nav .nav-link:hover {
  transform: scale(1.1);
  text-decoration: overline;
}

 #portfolio-logo{
width: 100px;
border-radius: 15px;
 padding: 1px; ; 
}  

.marquee_div{
  /* padding-top: 80px; */
  /* padding-left: 10px;
  padding-right: 10px; */
  margin-left: 20px;
  margin-right: 20px;
  color:red;
  font-size: 20px;
  word-spacing: 5px;
  text-decoration:underline;
}
.marquee_text{
  margin-left: 20px;
  margin-right: 20px;
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Header ended  here */




/* section 1 start from here */


  /* box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5); */




 section{
 width: 100%;
 height: 600px;
 display: flex;
 justify-content: space-between;
 align-items: center; 
 /* padding-top: 10px; */
}

.section-intro,.section-image{
 width: 50%;
}
.section-intro{
 margin-left: 150px; 
 margin-bottom: 120px; 
 font-size: 13px; 

} 



h4{
 margin-top: 150px;
 font-size: 45px;
 box-shadow: 2px 2px 2px 2px red;
 border: 1px solid rgb(rgb(0, 68, 255), green, blue);
}
.intro{
opacity:2 ;
font-family: 'Brush Script MT', cursive;
color: #ff0095;
}
.heading1{
  color: #f6ce09;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-style: italic;
}

.heading5{
  color: #ee14b7;
  margin: 2px;
  font-size: 30px;
  font-family:cursive;
}
.details{
  color: #6f8181;
}
.details_page{
  display: none;
}
.section-image{
max-width: 100%;
height: -50px;
border-radius:500px ; 
margin-left: 150px;
}
.photo{
 box-shadow: 5px 10px 30px 10px  rgb(252, 60, 2);
 border: 4px solid rgb(242, 255, 3);
}
 

/* section 1 eneded */
 hr{
  color: rgb(247, 248, 249);
  background-color: #010d0d;
} 

/* section 2 start*/
  .section-image1{
 height: 200px;
 width: 200px;
 margin-left: 150px;
}
.section-intro1{
 width: 50%;
 margin-right: 150px;
margin-bottom: 120px;
font-size: 18px;
}  
/* /* section 2 eneded */


 /* section 3 start */
     .heading {
      color: #fff;
      background-color: #4CAF50;
      text-align: center;
      font-size: 28px;
      text-transform: uppercase;
      margin: 20px;
      margin-top: 100px;
      /* background-color: rgb(0, 0, 9);  */
    }
    
    /* Main styles */
    .skil_main {
      display: flex;
       justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 20px; 
      margin: 20px;
      /* background-color: rgb(0, 0, 9);  */
    } 
    
    /* Section styles */
    .skills-container {
      width: 200px;
      background: none;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 30px;
      margin: 10px;
      transition: transform 1s ease-in-out;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeIn ease-out 0.5s;
      animation-fill-mode: forwards;
    }
    .skills-container:hover{
      transform: translateY(20px);
    box-shadow: 0 0 10px 5px rgba(175, 174, 174, 0.5)
    }

    #heading-skils{
      font-size: 30px;
    }
    .skills-container:nth-child(odd) {
      background-color: #FFE082; /* Yellow */
    }
    
    .skills-container:nth-child(even) {
      background-color: #81D4FA; /* Blue */
    }
  
    .icon{
     text-align: center;
     width: 100px;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(20px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    #heading7{
      justify-content: space-between;
      align-items: center;
      text-align: center;
      justify-items: center;
      margin-top: 2px;
      width: 100%;
      height: 50px;
      background-color: #191919;
      color:#FFFFFF;
      border-radius: 50px;
      padding-top: 4px;
    
     }

     /* section 3 ended */
       .div-headnig3{
      justify-content: space-between;
      align-items: center;
      text-align: center;
      justify-items: center;
      margin-left: 30%;
     } 

/*   */
 

/* projects section started here */

 

 .project_video{
  height: 400px;
  width: 400px;
 }

.heading8{
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: #010d0d;
  color: aliceblue;
  border-radius: 5px;
  margin-left: 200px;
  margin-right: 200px;
}
.project_btn_div{
  margin-left: 1px;
  margin-right: 1px;
  background-color: rgb(28, 4, 15); 
  border-radius: 5px;
}
.todo_btn{
  margin-left: 100px;
  padding-left: 250px;
} 

.open_details_div{
  display: none;
  width: 50%;
  height: 600px;

} 

#projects {
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
}

.project {
  margin-left: 15px;
  width: 350px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.4s  ease;
  box-shadow: 0 0 10px 3px rgba(171, 170, 170, 0.5);

}
.project:hover {
  transform: translateY(20px);
  box-shadow: 0 20px 10px 3px rgba(171, 170, 170, 0.5); 
}

.project video {
  width: 100%;
  border-radius: 8px;
}

.project h3 {
  margin-top: 10px;
  color: #fdf0f0;
}

.project p {
  margin-top: 5px;
  color:#868383;

}

.project a{
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.container{
  background-color: rgb(0, 0, 9);
  color: aliceblue;
}



/* projects section ended here */
 

   #contact_form {
    margin-top: 50px;
    margin-bottom: 50px;
}

#heading-6 {
    text-align: center;
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 20px;
}








    /* footer starts here */
      .footer{
      width: 100%;
      height: 80px;
      background-color: black;
      color: #FFFFFF;

    }
    .footer-menu{
      padding-top: 30px;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 50px;
      word-spacing: 15px;
      text-decoration: none;
    }
    
    .footer-menu #footer_list{
      text-decoration: none;
      border: none;
      transition-delay: 0.5s ease; 


    } 
    #footer_list:hover{
      border: none;
      color:#b2d6fc;
      transform: scale(1.1);
    } 
   .footer-des{
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-left: 50px;
    }  



 
  


